@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
	p {
		text-align: justify;
	}
}

.logo {
	h2 {
		@apply text-2xl;
		text-align: center;
		margin-bottom: 10px;
	}
}

.nav {
	padding-top: 25px;
	padding-left: 10px;

	h2 {
		margin-top: 10px;
	}
}

.page {
	img {
		filter: drop-shadow(3px 3px 10px #222);
	}
}

.toc {
	margin-left: 10px;
	margin-bottom: 30px;
	border-bottom: #ccc solid 1px;

	h2 {
		font-weight: 700;
		font-size: 1.5em;
		margin-top: 1.25em;
		margin-bottom: 1em;
		line-height: 1.3333333;
	}
	ul {
		list-style-type: none;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	li {
		margin-bottom: 1.2em;
	}
	a {
		text-decoration: underline;
		font-weight: 500;
	}
}
