@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
	p {
		text-align: justify;
	}
}

.logo {
	h2 {
		@apply text-2xl;
		text-align: center;
		margin-bottom: 10px;
	}
}

.nav {
	padding-top: 25px;
	padding-left: 10px;

	h2 {
		margin-top: 10px;
	}
}

.page {
	img {
		filter: drop-shadow(3px 3px 10px #222);
	}
}

.italic {
	font-style: italic;
}

span.trademark::after {
	content: "™";
	vertical-align: super;
	font-size: 0.60em;
}

span.rtrademark::after {
	content: "®";
	vertical-align: super;
	font-size: 0.60em;
}

.toc {
	margin-left: 10px;
	margin-bottom: 30px;
	border-bottom: #ccc solid 1px;

	h2 {
		font-weight: 700;
		font-size: 1.5em;
		margin-top: 1.25em;
		margin-bottom: 1em;
		line-height: 1.3333333;
	}
	ul {
		list-style-type: none;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	li {
		margin-bottom: 1.2em;
	}

	li.heading-1 {
		font-size: 1em;
		ul {
			margin-top: 15px;
		}
	}

	li.heading-2 {
		padding-left: 1em;
		font-size: 0.95em;
	}

	li.heading-3 {
		padding-left: 1.5em;
		font-size: 0.9em;
	}

	a {
		text-decoration: underline;
		font-weight: 500;
	}

}

ol.sponsors-tiers {
	margin: 15px auto 0;
	list-style: none;
	padding: 0;
	position: relative;

	li {
		list-style: none;
	}

	.logo {
		padding: 8px;
	}

	ul.sponsors-by-tier {
		margin: 0;
		padding: 0;
	}

	h2 {
		text-align: center;
		line-height: 120%;
		border-bottom: 2px solid #ccc;
		padding-bottom: 15px;
	}


	img {
		margin: 0 auto;
		width: 100%;
		filter: none;
		min-width: 100px;
	}

	.platinum {
		h2.sponsors-tier-name {
			font-size: 2.1em;
		}

		img {
			max-width: 500px;
		}
	}

	.gold {
		h2.sponsors-tier-name {
			font-size: 2.0em;
		}

		img {
			max-width: 375px;
		}
	}

	.silver {
		h2.sponsors-tier-name {
			font-size: 1.6em;
		}

		img {
			max-width: 250px;
		}
	}

	.bronze {
		h2.sponsors-tier-name {
			font-size: 1.3em;
		}

		img {
			max-width: 175px;
		}
	}
}
