---
import Main from "../layouts/Main.astro";
---

<Main title="Coming Soon">
	<h1>Coming Soon	</h1>
	<h3>We are working hard to get things set up for 2024</h3>
	<p>In the meantime, if you have any questions please reach out to <a href="mailto:first@levitatelearning.ca">first@levitatelearning.ca</a>
</Main>
