---
import Main from "../layouts/Main.astro";
const title = "Start a Team";
---

<Main title={title}>
	<h1>{title}</h1>
	<h2>What is FIRST LEGO League Challenge?</h2>
	<p>
		FIRST LEGO League Challenge is a robotics competition which challenges grade 4 - 9 students to create and
		communicate solutions to real world problems using LEGO-based robots. Through their imaginations and adult coaches,
		students who participate in FIRST Lego League build technical and soft skills, discover exciting career
		possibilities, and learn how to make a positive impact for their communities.

		This season students participating in FIRST LEGO League will explore and solve problems relating to our oceans in
		this season, SUBMERGED.
	</p>
	<h2>Why start a FIRST LEGO League Challenge Team?</h2>
	<p>
		The FIRST LEGO League Challenge competition gives students the opportunity to work collaboratively and have fun
		doing it! There are many reasons to start a FIRST LEGO League Challenge team, including: increased engagement,
		improved technical, communication, problem solving and collaboration skills, and to inspire your students to pursue
		careers in science, technology, engineering, arts, and math.
	</p>
</Main>
