---
const { heading } = Astro.props;
---
<li class={`heading-${heading.depth}`}>
	<a href={'#' + heading.slug}>
		{heading.text}
	</a>
	{
		heading.subheadings.length > 0 && (
			<ul>
				{heading.subheadings.map((subheading: any) => (
					<Astro.self heading={subheading} />
				))}
			</ul>
		)
	}
</li>
